@page "/"
@rendermode InteractiveServer

@using Planner.Application.Messaging
@using Planner.BlazorApp.Components.WelcomeWizard
@using Planner.BlazorApp.Services
@using Planner.Contracts.Messages
@using Planner.Contracts.Messages.VehicleRoutingProblem
@using Planner.Domain.Entities

@inject DataCenterService DataCenter
@inject IConfiguration configuration


<div class="planner-view d-flex flex-column h-100">
    <!-- Top toolbar -->
    <div class="toolbar p-2 d-flex align-items-center bg-light border-bottom">
        <div class="d-flex gap-2">
            <button class="btn btn-info" @onclick=@(() => showWizard = true)>Show Welcome Guide</button>
            <button class="btn  btn-primary" @onclick=@(() => OpenTab("Customers"))>Optimization Wizard</button>
        </div>
        <h5 class="ms-auto mb-0">Dispatch Centre</h5>
    </div>

    <!-- Map area -->
    <div class="flex-fill position-relative">
        <!-- Full-screen Google Map -->
        <PlannerMap @ref="mapRef"
                    DepotLat="@DataCenter.Depot.Latitude" DepotLon="@DataCenter.Depot.Longitude"
                    JobPositionPicked="JobPositionPicked"
                    Routes="@DataCenter.MapRoutes" Customers="@DataCenter.MapCustomers" />
    </div>

    <!-- Welcome Wizard Modal -->
    <WelcomeWizardModal IsOpen="@showWizard" IsOpenChanged="@(val => showWizard = val)" />

    <!-- Tabbed Modal -->
    <PlannerEntitiesModal @ref="entitiesModal" />

    <NewCustomerModal @ref="newCustomerModal" OnCustomerCreated="HandleNewCustomer" />
</div>

@code {
    private bool showWizard = false;     // show on first load

    PlannerEntitiesModal? entitiesModal;
    private void OpenTab(string tab) {
        entitiesModal?.OpenTab(tab);
    }

    private PlannerMap? mapRef;

    private void OnCollectionChanged(object? msg) { InvokeAsync(StateHasChanged); }
    private bool _subscribed;
    protected override async Task OnInitializedAsync() {
        if (_subscribed) return;
        DataCenter.CollectionChanged += OnCollectionChanged;
        await DataCenter.InitializeAsync();
        _subscribed = true;
    }

    public void Dispose() {
        DataCenter.CollectionChanged -= OnCollectionChanged;
    }

    private NewCustomerModal? newCustomerModal;

    private Task JobPositionPicked(MapPosition args) {
        newCustomerModal?.Open(args);
        return Task.CompletedTask;
    }

    private void HandleNewCustomer(Customer customer) {
        Console.WriteLine($"New customer added: {customer.Name} ({customer.Latitude}, {customer.Longitude})");

        // optionally refresh lists:
        DataCenter.AddNewCustomer(customer);
    }
}
