@inherits LayoutComponentBase

@using Planner.Application.Messaging
@using Planner.BlazorApp.Components.DispatchCenter
@using Planner.BlazorApp.Services
@using Planner.BlazorApp.State.Interfaces

<div>
    <!-- MAIN ENTITY MODAL -->
    <div class="modal fade @(IsVisible ? "show d-block" : "")" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">

            <div class="modal-content planner-modal-light">

                <!-- HEADER -->
                <div class="modal-header planner-modal-header-light">
                    <h5 class="modal-title fw-semibold">Assign Jobs to Fleet</h5>
                    <button type="button" class="btn-close" @onclick="Close"></button>
                </div>

                <!-- BODY -->
                <div class="modal-body planner-modal-body-light">

                    <!-- TABS -->
                    <ul class="nav nav-tabs planner-tabs-light">
                        <li class="nav-item">
                            <a class="nav-link @(ActiveTab == "Vehicles" ? "active" : "")"
                               @onclick=@(() => SetTab("Vehicles"))>Vehicles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ActiveTab == "Customers" ? "active" : "")"
                               @onclick=@(() => SetTab("Customers"))>Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ActiveTab == "Jobs" ? "active" : "")"
                               @onclick=@(() => SetTab("Jobs"))>Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ActiveTab == "Routes" ? "active" : "")"
                               @onclick=@(() => SetTab("Routes"))>Routes</a>
                        </li>
                    </ul>

                    <div class="planner-modal-content-area">
                        @if (ActiveTab == "Customers") {
                            <CustomersTab />
                        } else if (ActiveTab == "Vehicles") {
                            <VehiclesTab  />
                        } else if (ActiveTab == "Jobs") {
                            <JobsTab />
                        } else if (ActiveTab == "Routes") {
                            <RoutesTab />
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@code {
    private bool IsVisible { get; set; }
    private string ActiveTab { get; set; } = "Jobs";

    public void OpenTab(string tab) {
        ActiveTab = tab;
        IsVisible = true;
        StateHasChanged();
    }

    private void SetTab(string tab) {
        ActiveTab = tab;
    }

    private void Close() {
        IsVisible = false;
        StateHasChanged();
    }

}
